@media (width <= 1300px) {
  .container__title {
    padding-left: 2rem;
  }
}

@media (width <= 1200px) {
  .features {
    column-gap: 2rem;
  }
}

@media (width <= 1025px) {
  .container__title {
    padding-left: 0rem;
  }
  .header__title {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr , 1fr;
  }
  .header__img {
    width: clamp(22rem, 50vw, 30rem);
    justify-self: end;
    grid-area: 2 / 1 / 3 / 2;
    transform: translateY(0);
    /* display: none; */
  }
  .features__feature {
    width: 95%;
  }
  .features__icon {
    margin-bottom: 1rem;
  }
  .features__header {
    margin-bottom: 0rem;
  }
}

@media (width <= 992px) {
  .nav__menu {
    column-gap: 2rem;
  }
  .nav__list {
    position: fixed;
    top: 0;
    right: 0%;
    width: auto;
    transform: translateX(100%);
    transform-origin: right;
    padding-left: 12rem;
    height: 100vh;
    flex-direction: column;
    align-items: end;
    padding-top: 8rem;
    padding-right: 2.50rem;
    row-gap: 2rem;
    background-color: #f3f3f3;
    transition: all .5s;
  }
  .nav__close {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 2rem;
    font-size: 2.125rem;
    color: #5ec576;
  }
  .nav__item {
    display: block;
  }
  .nav__toggle, .nav__link--mobile {
    display: block;
  }
}

@media (width <= 850px) {
  .section, .footer {
    padding-block: 8rem;
  }
  .section__title {
    max-width: auto;
    text-align: center;
    margin-bottom: 4rem;
  }
  .features {
    width: 50rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 4rem;
    margin-inline: auto;
  }
  .features__img--2 {
    grid-area: 3 / 1 / 4 / 2;
  }
  #section--2 {
    background-color: #fff;
  }
  .operations {
    max-width: auto;
    margin: 0 auto;
  }
  .operations__tab-container {
    display: none;
  }
  .operations__content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 7rem 1fr;
    column-gap: 0;
    row-gap: 0.5rem;
    padding: 4rem 2rem;
  }
  .operations__icon {
    height: 5.5rem;
    width: 5.5rem;
  }
  .operations__icon svg {
    height: 2.5rem;
    width: 2.5rem;
  }
  .operations__header {
    font-size: 2rem;
  }
  .operations__content p {
    grid-column: 1;
    font-size: 1.5rem;
  }
  .footer__nav {
    flex-direction: column;
    align-items: center;
  }
}

@media (width <= 767px) {
  .nav__logo {
    height: 3.7rem;
  }
  .nav__link--mobile {
    display: none;
  }
  .slider {
    height: 40rem;
  }
  .slider__btn {
    top: 95%;
    height: 3.5rem;
    width: 3.5rem;
    font-size: 1.65rem;
  }
  .slider__btn--left {
    left: 30%;
  }

  .slider__btn--right {
    right: 30%;
  }

  .testimonial {
    width: 75%;
  }
  .testimonial::before {
    font-size: 15rem;
    top: -4.2rem;
    left: -5.2rem;
  }
  .testimonial__header {
    font-size: 2rem;
    line-height: 1.2;
  }
  .testimonial__text {
    font-size: 1.3rem;
    line-height: 1.7;
    margin-bottom: 2.5rem;
  }
  .testimonial__author {
    grid-template-columns: 5.8rem 1fr;
    margin-left: 2.2rem;
    column-gap: 0;
  }
  .testimonial__photo {
    width: 4.5rem;
  }
  .testimonial__name {
    font-size: 1.3rem;
  }
  .testimonial__location {
    font-size: 1rem;
  }
  .modal {
    padding-inline: 2rem;
  }
  .modal__form {
    grid-template-columns: auto;
    grid-template-rows: repeat(7, auto);
    row-gap: .2rem;
    margin-inline: 2rem;
  }
  .modal__form button {
    grid-area: 7 / 1 / 8 / 2;
    margin-top: 2rem;
  }
}

@media (width <= 540px) {
  .nav__logo {
    height: 3.2rem;
  }
  .nav__list {
    padding-left: 10rem;
  }
  .btn--text {
    font-size: 1.4rem;
  }
  .features {
    width: auto;
  }
  .section--sign-up .btn {
    font-size: 1.3rem;
    padding: 2rem 4rem;
  }
}

@media (width <= 480px) {
  .btn--text {
    font-size: 1.2rem;
  }
  .slider__btn--left {
    left: 25%;
  }
  .slider__btn--right {
    right: 25%;
  }
  .testimonial {
    width: 95%;
  }
  .testimonial::before {
    display: none;
  }
  .modal__form {
    margin-inline: 0;
  }
}

/* HEIGHT */
@media (width > 1025px) and (height < 580px) {
  .header__title {
    align-items: center;
  }
  .header__img {
    transform: translateY(0);
  }
}
@media (width < 1025px) and (height < 580px) {
  .header__img {
    display: none;
  }
}